**/.terraform/*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
#uncomment those after setting up a remote tfstate:
# *.tfstate
# *.tfstate.*